<h1>Editing fingerprint_match</h1>

<% form_for(@fingerprint_match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fingerprint_match %> |
<%= link_to 'Back', fingerprint_matches_path %>