<h1>New fingerprint_match</h1>

<% form_for(@fingerprint_match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fingerprint_matches_path %>